
.visor{
 background-color: rgb(145, 144, 144);
 height: 400px;
 width: 800px;
 border-radius: 10px;

 display: flex;
 align-items: center;
 justify-content: center;

 font-size: 80px;
 
}
.caixa{
  background-color: rgb(173, 173, 173);

  height: 800px;
  width: 1300px;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  border-radius: 10px;

  gap: 30px;
}
 .teclado{
   display: grid;
   width: 100%;

   grid-template-columns: auto auto auto auto auto;
   
   row-gap: 10px;
   
   }
.tecla{
  font-size: 40px;

  border: solid black;
}
.h1{
  font-weight: bold;
}